.viewPermission{
    color: white;
    text-align: right;
    margin-top: 27px;
    border: 1px solid black;
    margin-left: 276px;
    padding: 6px 5px;
    background-color: #00256F;
    border-radius: 4px;
}
.admin{
width: 145px;
height: 22px;
left: 136px;
top: 171px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 22px;

color: #0A0A0A;
}
.detailAdmin{
    width: 416px;
height: 44px;
left: 748px;
top: 229px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 22px;

color: #0A0A0A;
}
