.Cell-dayOfWeek-26 {
  font-size: 1.1rem !important;
}
.Toolbar-toolbar-2 {
  border: 1px solid black !important;
}
.makeStyles-inlineFlex-20 {
  border: 1px solid black !important;
}
/* .MuiTableCell-root {
    font-size: 1.3rem !important;
} */
